<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>col00.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{18,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col07.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,24},{16,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col08.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,24},{16,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>col09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,74},{32,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,40},{32,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{32,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,64},{32,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,94},{32,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,82},{32,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,62},{32,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row07.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,44},{32,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row08.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,42},{32,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>row09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pipe.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba1bb12de16b9dc556df423b838816d:1/1$</string>
            <key>textureFileName</key>
            <string>pipe.png</string>
        </dict>
    </dict>
</plist>
